@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightRazor>
@using System.Linq
@using System.Web
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components;
@using DotNetNuke.Entities.Portals;

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

@{
    var lang = "";
    var navigationdata = new NavigationData(PortalSettings.Current.PortalId, Model.GetSetting("modref"));
    var addtobasket = ResourceKey("ProductView.addtobasket");
    var from = ResourceKey("ProductView.from");
    var productdetail = ResourceKey("ProductView.productdetail");
    var promoflag = ResourceKey("ProductView.promoflag");
    var outofstockflag = ResourceKey("ProductView.outofstockflag");
    var cataloguemode = Model.GetSettingBool("cataloguemode");
}

@foreach (NBrightInfo info in Model.List)
{
    var product = new ProductData(info.ItemID, info.Lang);
    var itemId = info.ItemID;
    var entryUrl = EntryUrl(navigationdata, info, Model);
    lang = info.Lang;

    <div class="col-sm-2 categorydrilldown">
        <a href="@entryUrl">
            @if (product.Imgs.Count > 0)
            {
                <img class="img-fluid" title="@(info.GetXmlProperty("genxml/lang/genxml/textbox/txtsummary"))" src="@ProductImageUrl(info, 200, 200)">
            }
            else
            {
                <i class="fa fa-picture-o"></i>
            }
            <h4 style="text-align: center;">@ProductName(info)</h4>
        </a>
        <span class="entryid@(itemId)">
            <input id="@(itemId)_productid" type="hidden" value="@itemId">
            <input id="@(itemId)_shopitemid" type="hidden" value="@itemId">
            <input id="@(itemId)_uilang" type="hidden" value="@lang">
        </span>
    </div>
}
